<header>
  <nav class="navbar navbar-expand-xl"  style="background-color: #fff5d7;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px">
    <div style="display:inline-flex">
      <a [routerLink]="'/'" class="navbar-brand"><b>PROJEKAT-DAVID</b></a>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a *ngIf="readPermission" [routerLink]="'/displayUsers'" class="nav-link ">Display All Users</a>
          <div class="spacer"></div>

          <a *ngIf="createPermission"  [routerLink]="'/addUser'" class="nav-link ">Add New User</a>
          <div class="spacer"></div>

          <a [routerLink]="'/nodes'" class="nav-link ">Search Nodes</a>
          <div class="spacer"></div>

          <a [routerLink]="'/createNode'" class="nav-link ">Create Nodes</a>
          <div class="spacer"></div>

          <a [routerLink]="'/scheduleNode'" class="nav-link ">Schedule Nodes</a>
          <div class="spacer"></div>

          <a [routerLink]="'/errors'" class="nav-link">Errors</a>
          <div class="spacer"></div>

        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
