/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { background-color: #fff5d7;height: 100%; }

.h {
  text-align: center;
  margin: 12px 0;
  padding: 10px;
}

.div {
  margin: 12px 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

